/* Define standard variables and values for website */
$tenPixels: 10px;
*{
  box-sizing: border-box;
}
header {
  font-size: 30px;
  font-weight: 500;
}

.React-logo {
  max-height: 50px;
}
.nav-bar {
  background-color: #c8e669;
}
.nav-links {
  list-style-type: none;
  display: inline-block;
  float: right;
  li {
    display: inline;
    margin-right: 20px;
    color: #fff;
  }
  a {
    text-decoration: none;
  }
}
.active{
  color: red;
}
.todoContainer{
  max-width: 500px; 
  margin: 40px auto;
  background-color: #c3e3c8;
  padding: 5px 20px;
  border-radius: 7px;
  height: 500px;
  h1{
    text-align: center;
  }
}
.inputElement{
  display: flex;
  justify-content: center;
  input[type='text']{
    padding: 10px 20px;
    margin: 0 15px;
    border: none;
    outline: none;
    border-radius: 20px;
  }
}
.plusIcon{
  cursor: pointer;
  :hover{
    border-radius: 50%;
    background-color: #e6c792;
  }
}
.alignment{
  position: relative;
}
.alignment svg {
  position: absolute;
  right: 100px;
  top: 0
}