/* Define standard variables and values for website */
$tenPixels: 10px;
*{
  box-sizing: border-box;
}
header {
  font-size: 30px;
  font-weight: 500;
}
.React_logo {
  max-height: 50px;
}
.nav_bar {
  background-color: #c8e669;
  display: flex;
  align-items: center;
}
.nav_links {
  list-style-type: none;
  margin-left: auto;
  li {
    display: inline;
    margin-right: 20px;
    color: #fff;
  }
  a {
    text-decoration: none;
  }
}
.active{
  color: red;
}
.todoContainer{
  max-width: 500px; 
  margin: 40px auto;
  background-color: #c3e3c8;
  padding: 5px 20px;
  border-radius: 7px;
  height: 500px;
  h1{
    text-align: center
  }
  ol{
    height: 170px;
    overflow-y: auto
  }
}
.inputElement{
  display: flex;
  justify-content: center;
  input[type='text']{
    padding: 10px 20px;
    margin: 0 15px;
    border: none;
    outline: none;
    border-radius: 20px;
  }
}
.search{
  text-align: center;
  input[type='text']{
    padding: 10px 20px;
    margin: 0 15px;
    border: none;
    outline: none;
    border-radius: 20px; 
  }
}
.plusIcon{
  cursor: pointer;
  :hover{
    border-radius: 50%;
    background-color: #e6c792;
  }
}
.alignment{
  position: relative;
}
.alignment svg {
  position: absolute;
  right: 100px;
  top: 0
}
.dateAlignment{
  margin-left: 30px;
}