/* Define standard variables and values for website */
$tenPixels: 10px;
*{
  box-sizing: border-box;
}
header {
  font-size: 30px;
  font-weight: 500;
}
.React_logo {
  max-height: 39px;
  border-radius: 50%;
}
.nav_bar {
  background-color:	#000;
  display: flex;
  align-items: center;
  max-height: 40px;
  box-shadow: 0px 70px 50px 140px #ecbe90, 0px 140px 50px 250px #fff, 0px 224px 50px 360px #95dd8e;
  min-height: 50px
}
.nav_links {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  align-items: center;
  li {
    display: inline-flex;
    margin-right: 20px;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
.active{
  color: red;
}
.todoContainer{
  max-width: 500px; 
  margin: 40px auto;
  background-color: #c3e3c8;
  padding: 5px 20px;
  border-radius: 7px;
  height: 500px;
  h1{
    text-align: center
  }
  ol{
    height: 170px;
    overflow-y: auto
  }
}
.inputElement{
  display: flex;
  justify-content: center;
  input[type='text']{
    padding: 10px 20px;
    margin: 0 15px;
    border: none;
    outline: none;
    border-radius: 20px;
  }
}
.search{
  text-align: center;
  input[type='text']{
    padding: 10px 20px;
    margin: 0 15px;
    border: none;
    outline: none;
    border-radius: 20px; 
  }
}
.plusIcon{
  cursor: pointer;
  :hover{
    border-radius: 50%;
    background-color: #e6c792;
  }
}
.alignment{
  position: relative;
}
.alignment svg {
  position: absolute;
  right: 100px;
  top: 0
}
.dateAlignment{
  margin-left: 30px;
  color: #fff;
}
.main_note,.title_note{
  border: 1px solid #a59999;
  margin: 0;
  padding: 10px;
  outline: none;  
  border-radius: 10px
}
.title_note{
  margin-top: 50px;
  border-bottom: 0; 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  // visibility: hidden;
}
.main_note{
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
// .main_note:focus{
//   border-top: 0;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }
.main_note:empty::before,
.title_note:empty::before {
  content: attr(data-placeholder);
}
.main_note:empty:focus:before,
.title_note:empty:focus:before{
  content: '';
}
.keepBox{
  max-width: 500px;
  margin: 0 auto ;
  box-shadow: 3px 5px 13px 9px #e100001f;
  border-radius: 10px
}
.addKeep{
  float: right;
  height: 30px;
  width: 30px;
  font-size: 23px;
  border-radius: 50%;
  outline: none;
  border: none;
  position: relative;
  top: -18px;
  left: -3px;
  cursor: pointer;
}
.contentBox{
  max-width: 300px;
  padding: 20px;
  margin: 40px 10px;
  border: 1px solid #a59999;
  border-radius: 8px;
}
.removeKeep{
  float: right;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
}
.noteTitle, .mainNote{
  padding: 10px;
  font-size: 17px;
}
@media all and (max-width: 767px){
  .nav_bar{
    flex-direction: column;
    div, ul{
      margin-left: 0;
    }
  }
}